{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/mask/template/public/ygcsslist.css">
<style type="text/css">
    .yg5_key>div{float: left;line-height: 34px;}
    .store_td1{height: 45px;}
    .store_list_img{width: 40px;height:40px;}
    .yg5_tabel{border-color: #e5e5e5;outline: 1px solid #e5e5e5;text-align: center;}
    .yg5_tr2>td{padding: 15px;border: 1px solid #e5e5e5;}
    .yg5_tr1>td{
        border: 1px solid #e5e5e5;
        background-color: #FAFAFA;
        font-weight: bold;
    }
    .yg5_btn{background-color: #EEEEEE;color: #333;border: 1px solid #E4E4E4;border-radius: 6px;width: 100px;height: 34px;}
    .check_img{width: 45px;height: 45px;}
    /*#frame-5{display: block;visibility: visible;}*/
</style>
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>    
    <li class="active"><a href="javascript:void(0);">申请列表</a></li>
</ul>
<div class="row">

    <div class="col-lg-12">

        <form action="" method="get" class="col-md-6">
                   <input type="hidden" name="c" value="site" />
                   <input type="hidden" name="a" value="entry" />
                   <input type="hidden" name="m" value="mask" />
                   <input type="hidden" name="do" value="ruzhu" />
            <div class="input-group" style="width: 300px;margin-top: 30px;">

                <input type="text" name="keywords" class="form-control" placeholder="请输入手机号/姓名">

                <span class="input-group-btn">

                    <input type="submit" class="btn btn-default" name="submit" value="查找"/>

                </span>

            </div>

            <input type="hidden" name="token" value="{$_W['token']}"/>

        </form>

        

    </div><!-- /.col-lg-6 -->

</div>  

<div class="main">

    <div class="panel panel-default">

        <div class="panel-heading">

            审核管理

        </div>

        <div class="panel-body" style="padding: 0px 15px;">

            <div class="row">

                <table class="yg5_tabel col-md-12">

                    <tr class="yg5_tr1">
                        <td class="store_td1">用户ID</td>
                        <td class="store_td1">姓名</td>
                        <td>手机号</td>
                        <td>地址</td>
                        <!--<td>当前身份</td>-->
                        <td>备注</td>
                        <td>申请时间</td>
                        <td>审核状态</td>
                        <td>操作</td>
                    </tr>
                    {loop $list $key $item}
                    <tr class="yg5_tr2">
                      <td class="store_td1">{$item['uid']}</td>
                      <td class="store_td1">{$item['name']}</td>
                      <!--<td class="store_td1"><img class="store_list_img" src="{media  $item['img']}" alt=""/>    </td>-->
                        <td>{$item['phone']}</td>
                      <td>{$item['address']}</td>
                      <!--<td>-->
                          <!--{if $item['quyuid']==0}-->
                            <!--非区域商-->
                          <!--{elseif $item['quyuid']==4}-->
                          <!--市代合伙人-->
                          <!--{elseif $item['quyuid']==5}-->
                          <!--省代合伙人-->
                          <!--{/if}-->
                      <!--</td>-->
                      <td>{$item['comment']}</td>
                     <td>{$item['addtime']}</td>
                     {if $item['state']==0}
                     <td >
                        <span class="label storered">待审核</span>
                    </td >
                    {elseif $item['state']==1}
                    <td >
                        <span class="label storeblue">已通过</span>
                    </td>
                    {elseif $item['state']==2}
                    <td >
                       <span class="label storegrey">已拒绝</span>
                   </td>

                   {/if}  
                   <td>

                      {if $item['state']==0}
                      <a class="btn ygyouhui2 btn-xs"  data-toggle="modal" data-target="#myModal{$item['id']}">通过</a>
                       <a class="btn storegrey2 btn-xs" data-toggle="modal" data-target="#myModal2{$item['id']}" title="拒绝">拒绝</a>
                       {elseif $item['state']==1}
                       <a class="btn storegrey2 btn-xs" data-toggle="modal" data-target="#myModal2{$item['id']}" title="拒绝">拒绝</a>
                       {elseif $item['state']==2}
                       <a class="btn ygyouhui2 btn-xs"  data-toggle="modal" data-target="#myModal{$item['id']}" >通过</a>
                      {/if}
                      <!--<a class="btn ygshouqian btn-xs" href="{php echo $this->createWebUrl('ruzhuinfo',array('id'=>$item['id']))}" >详情</a>-->
                      <!--<a href="{php echo $this->createWebUrl('ruzhu', array('id' => $item['id'],'op'=>'delete'))}" class="storespan btn btn-xs" onclick="return confirm('确认删除吗？');return false;" title="删除">-->
                          <!--<span class="fa fa-trash-o"></span>-->
                          <!--<span class="bianji">删除-->
                              <!--<span class="arrowdown"></span>-->
                          <!--</span>-->
                      <!--</a>-->
                      
                      <!-- <a class="btn btn-danger btn-xs" href="{php echo $this->createWebUrl('ruzhu', array('id' => $item['id'],'op'=>'delete'))}" onclick="return confirm('确认删除吗？');return false;" title="删除">删</a> -->

                  </td>

              </td>

          </tr>
                    <div class="modal fade" id="myModal{$item['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel" style="font-size: 20px;">选择类型</h4>
                                </div>
                                <div class="modal-body" style="font-size: 20px">
                                    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label class="col-xs-8 col-sm-3  control-label">选择申请类型</label>
                                            <div class="col-sm-9">
                                                <!--<input type="text" name="level" id="level{$row['id']}" class="form-control" value="{$row['level']}" />-->
                                            </div>
                                            <div class="col-sm-9">
                                                <select class="col-sm-5" id="level{$item['id']}" name="item" autocomplete="off">
                                                    <option value="1"  selected >市代合伙人</option>
                                                    <option value="2">省代合伙人</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <a href="javascript:void(0);" onclick="changlevel({$item['id']});" type="button"  class="btn btn-info" >确定</a>
                                    <!--<a href="{php echo $this->createWebUrl('onetype', array('op' => 'delete', 'id' => $row['ID']))}" id="postfee" type="button" class="btn btn-info" >确定</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal2{$item['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel2" style="font-size: 20px;">温馨提示</h4>
                                </div>
                                <div class="modal-body" style="font-size: 20px">
                                    <label class="col-xs-12  control-label">拒绝后改用户将恢复为金卡合伙人！，是否继续？</label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <a href="{php echo $this->createWebUrl('ruzhu', array('id' => $item['id'],'op'=>'reject'))}"  class="btn btn-info" >确定</a>
                                    <!--<a href="{php echo $this->createWebUrl('onetype', array('op' => 'delete', 'id' => $row['ID']))}" id="postfee" type="button" class="btn btn-info" >确定</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
          {/loop}
          {if empty($list)}
          <tr class="yg5_tr2">
            <td colspan="9">
              暂无申请信息
          </td>
      </tr> 
      {/if}        



  </table>

</div>

</div>

</div>

</div>

<div class="text-right we7-margin-top">

   {$pager}

</div>
<script type="text/javascript">
    var postpath = "{$_W['siteroot']}/web/index.php?c=site&i={$_W['uniacid']}&a=entry&do=ruzhu&m=mask&op=adopt";
    function changlevel(id) {
        $('.btn-info').removeAttr("onclick")
        //var data = $('form').serializeArray();
        level=$("#level"+id).val();
        console.log(level,'修改的等级');
        //开始提交数据进行保存
        $.ajax({
            type:"post",
            url:postpath,
            data:{
                type:level,
                op:'adopt',
                id:id
            },
            success:function(e){
                //var res = JSON.parse(e)
                //console.log(res.data.code,'执行成功')
                window.location.reload()

            },
            error:function(e){
                console.log('执行失败')
            },
            complete:function(e){
                console.log('每一步都执行')
            }
        })
    }
    $(function(){
        // $("#frame-5").addClass("in");
        $("#frame-5").show();
        $("#yframe-5").addClass("wyactive");
    })
</script>