{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/mask/template/public/ygcsslist.css">
<style type="text/css">
    .yg5_key>div{float: left;line-height: 34px;}
    .store_td1{height: 45px;}
    .store_list_img{width: 60px;height: 60px;}
    .yg5_tabel{border-color: #e5e5e5;outline: 1px solid #e5e5e5;text-align: center;}
    .yg5_tr2>td{padding: 15px;border: 1px solid #e5e5e5;}
    .yg5_tr1>td{
        border: 1px solid #e5e5e5;
        background-color: #FAFAFA;
        font-weight: bold;
    }
    .yg5_btn{background-color: #EEEEEE;color: #333;border: 1px solid #E4E4E4;border-radius: 6px;width: 100px;height: 34px;}
    .check_img{width: 45px;height: 45px;}
    .ygrow{margin-top: 20px;}
    .yghuise{background-color: grey;color: white;}
    .yghuise:hover{background-color: grey;color: white;

    }
    .pa_0{
        padding: 10px 0;
    }
</style>


<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>

    <li   {if $type=='wait'} class="active" {/if}><a href="{php echo $this->createWebUrl('txlist',array('type'=>wait,'state'=>0));}">待提现</a></li>

    <li   {if $type=='now'} class="active" {/if}><a href="{php echo $this->createWebUrl('txlist',array('type'=>now,'state'=>1));}">提现通过</a></li>

    <!--<li   {if $type=='delivery'} class="active" {/if}><a href="{php echo $this->createWebUrl('txlist',array('type'=>delivery,'state'=>3));}">提现拒绝</a></li>-->
    <li  {if $type=='all'} class="active" {/if}><a href="{php echo $this->createWebUrl('txlist',array('type'=>all));}">全部</a></li>

</ul>



<div class="row ygrow">

    <div class="col-lg-12">

        <form action="" method="get" class="col-md-6">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="mask" />
            <input type="hidden" name="do" value="txlist" />
            <div class="input-group" style="width: 300px">

                <input type="text" name="keywords" class="form-control" placeholder="请输入姓名">

                <span class="input-group-btn">

                    <input type="submit" class="btn btn-default" name="submit" value="查找"/>

                </span>

            </div>

            <input type="hidden" name="token" value="{$_W['token']}"/>

        </form>
        <form action="" method="get" class="col-md-6">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="mask" />
            <input type="hidden" name="do" value="txlist" />
            <input type="hidden" name="types" value="{$type}" />
            <div class="input-group" style="width: 100px;display: flex;">
                {php echo tpl_form_field_daterange('time',$_GPC['time'],true);}
                <input type="submit" class="btn btn-sm ordersucess" name="export_submit" value="导出"/>
            </div>
            <input type="hidden" name="token" value="{$_W['token']}"/>
        </form>

    </div><!-- /.col-lg-6 -->

</div>

<div class="main">

    <div class="panel panel-default">

        <div class="panel-heading">

            审核管理

        </div>

        <div class="panel-body" style="padding: 0px 15px;">

            <div class="row">

                <table class="yg5_tabel col-md-12">

                    <tr class="yg5_tr1">

                        <td class="store_td1">用户昵称</td>
                        <td>用户ID</td>
                        <td>打款金额</td>
                         <td>提现金额</td>
                        <td>手续费</td>
                        <td>提现方式</td>
                        <td>收款人</td>
                        <td>提现时间</td>
                        <td>审核时间</td>
                        <td>提现状态</td>
                        <td>操作</td>
                    </tr>
                    {loop $list $key $item}
                    <tr class="yg5_tr2">
                        <td class="store_td1">{$item['rbuyername']}</td>
                        <td>{$item['ruid']}</td>
                        <td>{$item['rmoney']}</td>
                        <td>{$item['rsqmoney']}</td>
                        <td>{$item['rsqmoney']-$item['rmoney']}</td>
                        <td>
                            银联
                        </td>
                        <td>{$item['name']}</td>
                        <td>{$item['raddtime']}</td>
                        {if $item['rsettlement']==0}
                        <td>待审</td>
                        <td >
                            <span class="label storered">待审核</span>
                            {if $item['risrefu']==1}
                            <span class="label storeblue">拒绝过</span>
                            {/if}
                        </td >
                        {elseif $item['rsettlement']==1}
                        <td>{$item['rshtime']}</td>
                        <td >
                            <span class="label storeblue">已提现</span>
                        </td>
                        {/if}
                        <td>
                            <a href="javascript:;" class="storespan btn btn-xs" data-toggle="modal" data-target="#myModal{$item['id']}">
                                <span class="fa fa-pencil-square-o" style="margin-right: 0"></span>
                                <span class="bianji">查看
                              <span class="arrowdown"></span>
                          </span>
                            </a>
                            {if $item['rsettlement']==0}
                            <a class="btn ygyouhui2 btn-xs" data-toggle="modal" data-target="#myModal1{$item['id']}">线下打款</a>
                            <!--{if $item['risrefu']==0}-->
                            <!--<a class="btn ygshouqian2 btn-xs"  title="拒绝" data-toggle="modal" data-target="#myModal2{$item['id']}">拒绝</a>-->
                            <!--{/if}-->

                            {/if}
                        </td>

                    </tr>
                    <!-- 修改信息弹框（Modal） -->
                    <div class="modal fade" id="myModal{$item['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        编辑信息
                                    </h4>
                                </div>
                                <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <div class="qs_box col-md-12 pa_0">
                                            <label for="" class="col-md-3">联系方式 :</label>
                                            <input type="text" value="{$item['phone']}" name="phone" class="col-md-6 con">
                                        </div>
                                        <div class="qs_box col-md-12 pa_0">
                                            <label for="" class="col-md-3">银行卡号 :</label>
                                            <input type="text" value="{$item['cardnumber']}" name="cardnumber" class="col-md-6 con">
                                        </div>
                                        <div class="qs_box col-md-12 pa_0">
                                            <label for=""  class="col-md-3">开户行:</label>
                                            <input type="text" value="{$item['openbranch']}" name="openbranch" class="col-md-6 con">
                                        </div>
                                        <div class="qs_box col-md-12 pa_0">
                                            <label for=""  class="col-md-3">所属支行:</label>
                                            <input type="text" value="{$item['branch']}" name="branch" class="col-md-6 con">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="确定" name="submit">
                                        <!--           <button type="button" class="btn btn-primary">
                                                    确定
                                                  </button> -->
                                    </div>
                                    <input type="hidden" name="id" value="{$item['id']}"/>
                                    <input type="hidden" name="token" value="{$_W['token']}"/>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal1{$item['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel1" style="font-size: 20px;">审核提示</h4>
                                </div>
                                <div class="modal-body" style="font-size: 20px">
                                    是否确认已打款？确认后表示提现审核通过。
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <a href="{php echo $this->createWebUrl('txlist',array('id'=>$item['rid'],'op'=>'adopt'))}" type="button" class="btn btn-info" >已打款</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal2{$item['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel2" style="font-size: 20px;">拒绝提示</h4>
                                </div>
                                <div class="modal-body" style="font-size: 20px">
                                    是否拒绝提现？拒绝后将删除记录，并金额恢复
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <a href="{php echo $this->createWebUrl('txlist', array('id' => $item['rid'],'rsqmoney'=>$item['rsqmoney'],'ruid'=>$item['ruid'],'op'=>'reject'))}" type="button" class="btn btn-info" >拒绝提现</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/loop}
                    {if empty($list)}
                    <tr class="yg5_tr2">
                        <td colspan="9">
                            暂无提现信息
                        </td>
                    </tr>
                    {/if}



                </table>

            </div>

        </div>

    </div>

</div>

<div class="text-right we7-margin-top">

    {$pager}

</div>

<script type="text/javascript">
    $(function(){
        // $("#frame-13").addClass("in");
        $("#frame-5").show();
        $("#yframe-5").addClass("wyactive");
    })
</script>